@font-face {
    font-family: 'Ather Font';
    src: url(NeurialGrotesk-Regular.otf);
}
@font-face{
    font-family: 'Ather Font-Medium';
    src: url(NeurialGrotesk-Medium.otf);
}
@keyframes animation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }  
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ather Font';
    background: rgb(241, 239, 239);
    color: var(--Ather-Black,#191919);

}
header{
    height: 48px;
    position: fixed;
    border-bottom:1px solid rgb(179, 179, 179) ;
    font:  12px 'Ather Font';
    background-color: rgba(255, 255, 255, 0.685);
    backdrop-filter: blur(10px);
    z-index: 999;
    

}
header a{
    text-decoration: none;
    color: rgb(90, 83, 83);
}
.span1{
    background: #31a93e;
    color:white;
    height: 15px;
    display: inline-flex;
    font: inherit;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 28px;
    padding: 2px 8px;
    margin-left: -20px;
    
}
.head{
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;
    gap: 890px;
    padding: 0 25px;
    
}
.head1{
    display: flex;
    align-items: center;
    gap: 23px;
}
.head2{
    display: flex;
    align-items: center;
    gap: 23px;

}


header img{
    height: 23px;
    width: 23px;
}
.section1{
    padding: 100px 80px 50px 50px ; 
    border-radius: 15px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: inherit;
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
}
.video-container {
    width: 100%;
    height: 100%;   
    overflow: hidden;
    position: relative;
    justify-items: center;
    border-radius:15px;
}
video{
    width: 90%;
    height: auto;
    top: 20%; 
    left: 0;
    right: 0;
    bottom: 20%; 
    object-fit: cover;
    position: absolute;
    border-radius: 15px;
   
}
.quick{
    font-size: 50px;
    position: relative;
    top: -175px;
    display:flex;
    justify-content: center;
    color: #f3f3f3;
    
}
.msg-icon {
    position: absolute;
    bottom: 55px; 
    right: 55px; 
    height: 28px;
    width: 28px;
    fill: white;
    border:  #31a93e;
    
}
.writing-para{
    display:flex;
    font-size: 42px;
    align-items: center;
    margin: 0 0 48px;
    justify-content: center;
}
.section2{
    display: flex;
    flex-direction: column; 
    padding: 150px 20px 220px;
}
.section2-1{
    margin: 0 104.5px;
}
.section2-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
    
}
.section2-columns-2{
    gap: 28px
}
.page2-columns{
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: white;
    margin-top:-3px ;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
}
.page2-columns-1{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
#border-id{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 84px;
    background-color: #f3f3f3;
    align-items: center;
    padding: 8px 16px;
    color: var(--Ather-Black);
    display: flex;
    height: 20px;
}
.page2-columns-11 p{
    font-size: 29px;
    margin-bottom: 6px;
}
.page2-columns-11 div{
    font-size: 14px;
    color: rgb(141, 128, 128);
}
.page2-columns-2{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}
.page2-columns-22 div{
    font-size: 14px;
     
}
.page2-columns-22 div:nth-child(1){
    font-size: 14px;
    border-bottom: 1px  solid;
    display: flex;
    justify-content: center;
    align-items: center; 
   
}
.page2-columns-22 div:nth-child(1) a{
    text-decoration: none;
    align-items: center;
    color:var(--Ather-Black);
    

}
.page2-columns-22 div:nth-child(2){
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid ;
    background:#191919;
    align-items: center;
    display: inherit;
    width: 133px;
    height: 36px;
    justify-content: center;
    
}
.page2-columns-22 div:nth-child(2) a{
    text-decoration: none;
    color:white;
}
.page2-columns-22{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    

}
.section2-columns-2 img{
    height: 80%;
    width: 100%;
    
}
.span2{
   justify-content: center;
   display: flex;
   align-items: center;
   padding: 2px 8px;
    color: white;
   white-space: nowrap; 
  animation: animation 2s linear infinite;
   
}
.span2-div{
    background: #31a93e;
    color:white;
    height: 24px;
    width: 64px;
    font: inherit;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    top: -45px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    
}
.map-img{
    max-width: 100%;
    max-height: 100%;
    width: 80%;
    height: 80%;
    margin: 0 50px;
    

  
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px ;
     
}
.container1{
   position: relative;
    top: -450px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 190px;
    width: 500px;
    padding: 70px;
}
.container11{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}
.container12{
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 32px;
    width: 400px;

}
.container1 div:nth-child(3) a{
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #f3f3f3;

}

.container1 div:nth-child(3) {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid;
    width: 100px;
}
#label{
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #31a93e;
    
}
sup{
    font-size: 10px;
    top: -0.5rem;
    color: #31a93e;
}
.container13{
    position: relative;
    top: -450px; 
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(233, 17, 17);
    margin-right: 190px;
    width: 200px;
    padding: 70px;
}
.Experience-center{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0 0px;
}
span{
    color: #191919;
}
.section3{
    max-width: 1100px;
    margin: 0 auto;
    padding: 64px 104px;
    border-radius: 8px;
    position:relative;
    width: 100%;
    left: 48.5%;
    top: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    top: -200px;
    
}
.sec3-1{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: space-between;
}
.section311{
    font-size: 17px;
    margin: 0px 0px 8px;
}
.section312{
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
    color: #191919;
    margin-bottom: 28px;
}
.section313 img{
    position: relative;
    left: 5px;
    top: 0.8px;
    
}
.section32{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.section32>div:first-child{
    padding: 100px 0 0 60px;
}
.section32>div:last-child{
    padding: 100px 0 0 0px;
}
.section313{
    text-decoration: none;
    color: #191919;
   height: 25px;
    border-bottom:1px solid #191919 ;
    width: 210px;

}
.section313>a{
    color: #191919;
    text-decoration: none;
    margin-bottom: 10px;
}
.section313>svg{
    color: #191919 ;
}
.section321{
    font-size: 35px;
    margin: 0px 0px 4px;
    color: black;
    

}
.section322{
    color:#5C6470;
    
}
.section33{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    gap: 60px;
}
.section331{
    font-size: 14px;
    color: #25292E;
    font-family: 'Ather Font-Medium' ;   
}
.section332{
    
    display: inline-block; 
    white-space: nowrap;
    animation:animation 26.314375s linear 0s infinite normal running;
    
}

.section33 div:last-child{
    display: flex;
    overflow: hidden;
}
.section332 span{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #25292e;
    display: flex;
    flex-direction: row;
    
    margin-right: 64px;
    font-size: 14px;
}
.section4 {
    background-color: black;
    color: white;
    padding: 120px 0px;
    margin: 0px 0px 150px;
    overflow: hidden;
}


.section4 > div {
    margin-bottom: 20px; 
}




.section4 img {
    max-width: 100px; 
    height: auto;
    margin-right: 20px;
}

.section4 a {
    text-decoration: none;
    color: white;
}


.section4 img[src$="arrow-right.svg"] {
    width: 12px; 
    height: auto;
}
.hassle{
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    
    color: #f7f7f7;
}
.hassle p{
    margin-bottom: 56px;
}
.sec4-columns{
    display: flex;
    gap: 26px;
    justify-content: center;
}
.ather-battery{
    font-size: 24px;
    margin: 0px 0px 16px;
}
.writing-ather{
    font-size: 14px;
    margin-bottom: 30px;
    
}
.sec4-columns1{
    display: flex;
    flex-direction: column;
    background-color: #141414;
    border-radius: 8px;
    justify-content: center;
    height: 350px;
    
    display: flex;
    flex-direction: column;
    padding: 44px 40px 36px;
}
.sec4-columns div div>img{
    position: relative;
    top: 78px;
    left: 44px;
    width: 24px;
}
.Learn img{
    margin-left: 5px;
}

.Disclaimer{
    margin: 0 24px;
    padding: 40px 138px;
    background-color: white;
    font-size: 10px;
    color: #b6b6b6;
    border-radius: 7px;
    top: -50px;
    position: relative;
   text-align: center; 
}





footer {
    background-color: #181818;
    color: #fff;
    padding: 50px 0;
    margin: 0px  24px;
    border-radius: 7px;
    height: 300px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 80px
}

.footer-section {
    flex: 1;
    padding: 0 0px;
    margin-top: 20px;
    justify-self: start;
    
}

.footer-heading {
    color: #7b7b7b;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 35px;
}

ul {
    list-style: none;
    padding: 12px 0px 0px 60px;
}

ul li {
    margin: 0px;
    margin-bottom: 8px;
    font-size: 14px;
    
}
.footer-links{
    gap: 20px;
}
.footer-links a {
    color: #f7f7f7!important;
    font-size: 12px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
    text-decoration: none;
    padding-right: 1rem;
}

.footer-logo img {
    max-width: 100px;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    gap: 180px;
    position: relative;
    top: -20px;
  
}
.footer-logo + a {
    background-color: #000;
    color: #f7f7f7!important;
    font-size: 14px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    padding-left: 25px;
    text-decoration: none;
    
    
}


.span0 {
    font-size: 10px;
    color: #31a93e;
    padding: 2px 5px;
    position: relative;
    top: -3.5px;
}
